<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlogCoffee</title>
    <link rel="preload" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"
      as="font"
      crossorigin="crossorigin"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__contenedor">
        <div class="header__barra">
          <a href="index.html" class="logo">
            <h1 class="logo__nombre">
              Blog<span class="logo__nombre--bold">Coffee</span>
            </h1>
          </a>
          <nav class="nav">
            <a href="nosotros.html" class="nav__link">Nosotros</a>
            <a href="tutoriales.html" class="nav__link">Tutoriales</a>
            <a href="contacto.html" class="nav__link">Contacto</a>
          </nav>
        </div>
      </div>
      <div class="header__texto">
        <h2 class="header__titulo">
          Tenemos los mejores consejos y tutoriales sobre el café
        </h2>
        <p class="header__parrafo">
          Aprende de expertos con las mejores recetas
        </p>
      </div>
    </header>
    <main class="main">
      <section class="entrada-blog entrada-blog__contenedor">
        <h2 class="entrada-blog__titulo">Tipos de granos de café</h2>
        <picture>
          <source srcset="./assets/img/blog1.avif" type="image/avif" />
          <source srcset="./assets/img/blog1.webp" type="image/webp" />
          <img
            class="entrada-blog__img"
            loading="lazy"
            width="500"
            height="300"
            src="./assets/img/blog1.jpg"
            alt="imagen-café"
          />
        </picture>
        <div class="entrada-blog__texto">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo
            veniam dolore ex eligendi tenetur ipsa eveniet asperiores officia
            sed porro, quam, dolorem perferendis vitae alias nobis nostrum!
            Doloribus, eius corporis.
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia
            corporis qui vero vel ab quidem atque, neque doloribus enim in
            deleniti omnis repellendus officiis necessitatibus incidunt itaque
            delectus recusandae odio ducimus similique sunt consectetur minima!
            Perspiciatis repellendus quis dolor facilis, doloribus, magnam
            accusantium adipisci numquam, ut nam laboriosam cumque! Quo
            reprehenderit facere dolor repellendus tempora natus. Vitae
            recusandae tenetur mollitia error ex! Obcaecati, laboriosam hic.
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto
            expedita inventore ipsam numquam nihil obcaecati dolorem beatae
            ipsum quos perferendis, quod minima ratione veritatis ut, officiis
            eum ducimus sapiente cupiditate quisquam vitae aut? Ea rerum quasi
            ipsa repellendus neque corrupti? Recusandae, tempora? Rem excepturi,
            nostrum reiciendis eligendi eos totam repellendus, aut molestias
            quidem ducimus, fugit id amet illo labore. Explicabo, eius aliquam
            laborum laboriosam, impedit fugiat reiciendis labore maiores,
            officiis autem voluptate? Quod facere et nihil expedita aspernatur
            vitae doloribus ex, veniam sit repudiandae at voluptatum repellendus
            nulla error dolorem necessitatibus quas delectus mollitia, quasi
            culpa esse iure! Pariatur, reiciendis.
          </p>
        </div>
      </section>
    </main>
    <footer class="footer">
        <div class="footer__contenedor">
          <div class="footer__barra">
            <a href="index.html" class="logo">
              <h1 class="logo__nombre">
                Blog<span class="logo__nombre--bold">Coffee</span>
              </h1>
            </a>
            <nav class="nav">
              <a href="sobre.html" class="nav__link">Nosotros</a>
              <a href="tutoriales.html" class="nav__link">Tutoriales</a>
              <a href="contacto.html" class="nav__link">Contacto</a>
            </nav>
          </div>
        </div>
      </footer>
  </body>
</html>
